<footer>
   <div class="col col-1">
      <div class="copy-claim">
         <span>&copy; Janne and Hainer 2016</span>
         <span>&copy; All rights reserved</span>
         <a href="#">www.janneandhainer.travel</a>
      </div>
   </div>
   <div class="col col-2">
      <a class="contact_us"href="mailto:janneandhainer@gmail.com">Contact Us</a>
      <div class="subscribe">
         <h2>Subscribe</h2>
         <p>Sign up with your email address to receive news and updates.</p>
         <input type="email" placeholder="Email address"></input>
         <a href="#">Sign up</a>
      </div>
   </div>
   <div class="col col-3">
      {% include social-icons.html %}
   </div>
</footer>
