<div class="social-icons">
   <a href="#"><object type="image/svg+xml" data="{{site.baseurl}}/img/icons/facebook.svg">
      Your browser does not support SVG
   </object></a>
   <a href="https://www.instagram.com/janneandhainer/"><object type="image/svg+xml" data="{{site.baseurl}}/img/icons/instagram.svg">
      Your browser does not support SVG
   </object></a>
   <a href="#"><object type="image/svg+xml" data="{{site.baseurl}}/img/icons/youtube.svg">
      Your browser does not support SVG
   </object></a>
   <a href="#"><object type="image/svg+xml" data="{{site.baseurl}}/img/icons/pinterest.svg">
      Your browser does not support SVG
   </object></a>
</div>
