header.post-header
   position: relative
   height: 80vh
   background-color: white
   color: white
   padding: 5%
   .home-link
      position: absolute
      top: 18px
      left: 5%
      z-index: 20
      text-decoration: none
      color: rgba(255,255,255,0.6)
      h1
         font-size: 18px
   .container
      display: inline-block
      z-index: 0
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      overflow: hidden
      background: #4b6cb7 /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #4b6cb7 , #182848) /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #4b6cb7 , #182848) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      .header-cover
         z-index: 0
         position: absolute
         top: 50%
         left: 50%
         width: auto
         height: auto
         max-height: none
         max-width: 100%
         min-height: 100%
         min-width: 100%
         opacity: 0
         transition: opacity 0.6s ease
         transform: translate(-50%, -50%)
         -ms-transform: translate(-50%, -50%)
         -webkit-transform: translate(-50%, -50%)
      &.loaded .header-cover
         opacity: 1
   .header-post-info
      position: relative
      top: 40%
      z-index: 20
      span
         text-transform: uppercase
         font-size: 13px
         letter-spacing: 1px
         font-weight: 400
         &:hover
            color: rgba(255,255,255,0.8)
         &:first-child:after
            content: "|"
            margin: 0 0px 0 5px
            font-size: 20px
      h1
         opacity: 0.9
         font-weight: 400
         font-size: 36px
         line-height: 1.1
         margin-top: 0px
      .PageNavigation
         a
            color: rgba(255,255,255,0.9)
            text-decoration: none
            margin: 0 10px 0 0
@media only screen and (min-width:620px)
   header.post-header
      .home-link h1
         font-size: 28px
      .header-post-info h1
         font-size: 40px
@media only screen and (min-width: 720px)
   header.post-header
      width: 50%
      float: left
      height: 100vh
      .home-link
         left: 10%
         h1
            font-size: 24px
      .header-post-info
         top: 60px
         h1
            font-size: 46px
         .PageNavigation
            margin-top: 60px
@media only screen and (min-width: 940px)
   header.post-header
      .home-link
         top: 4px
         h1
            font-size: 28px
@media only screen and (min-width: 1200px)
   header.post-header .header-post-info h1
      font-size: 66px
