ul.post-box
   li
      margin: 10px auto
      display: block
      width: 90%
      max-height: 300px
      list-style: none
      border: 1px solid #eee
      overflow: hidden
      img
         display: block
         min-width: 100%
         max-height: 70%
         overflow: hidden
      .result-body
         height: 30%
         background: white
         a
            font-size: 20px
            color: black
            text-decoration: none
   li > *
      display: block
@media only screen and (min-width: 720px)
   ul.post-box
      li
         width: 50%
         height: 350px
         float: left
         margin: 20px 10px
