main.post-content
   background: white
   padding: 5%
   height: auto
   font-weight: 300
   p:first-child
      margin-top: 0
   p
      color: #333
      width: 90%
      max-width: 620px
      line-height: 1.8
      font-size: 16px
      img
         max-width: 100%
         display: block
         margin: 35px auto
@media only screen and (min-width: 720px)
   main.post-content
      width: 50%
      float: left
      height: 100vh
      overflow-y: auto
