nav
   position: relative
   z-index: 200
   background-color: $white
   .header-logo
      text-align: center
      font-size: 22px
      font-weight: 600
      margin: 20px 0 10px
      font-family: 'Merriweather', serif
   ul
      margin: 0
      padding: 0
      text-align: center
      li
         list-style: none
         display: inline-block
         padding: 5px 5px
         margin: 8px
         a
            color: $medium-gray
            font-size: 14px
            font-weight: 600
            text-transform: uppercase

@media only screen and (min-width: 720px)
   nav
      position: relative
      z-index: 10
      margin-bottom: 10vh
      .header-logo
         position: absolute
         top: 10px
         left: 50%
         transform: translate(-50%,-50%)
         font-size: 48px
      ul
         text-align: right
         padding-right: 5%
         li
            padding: 10px 2px
            a
               font-weight: 400
               letter-spacing: 2px
               font-size: 13px
