---
layout: default
---
<div class="index-page about-page">
   <header style="background-image: url({{site.baseurl}}/img/headers/about-lg.jpg)">
      {% include header-nav.html %}
   </header>
   <main>
      {% include about-section.html %}
      <section class="our-images cf">
         <div class="our-image left" style="background-image: url({{site.baseurl}}/img/headers/about-sm.jpg)"></div>
         <div class="our-image right" style="background-image: url({{site.baseurl}}/img/headers/about-sm.jpg)"></div>
      </section>
   </main>
   {% include footer.html %}
</div>
