---
layout: blog-index
title: Blog
---
<section class="blog-index">
   <h1 class="section-header">Latest posts</h1>
   <div class="search-form-wrap">
      <form action="{{site.baseurl}}/search.html" method="get">
         <label for="search-box">search</label>
         <input type="text" id="search-box" name="query">
         <input type="submit" value="search">
      </form>
   </div>
   {% for post in paginator.posts %}
     <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
     <p class="author">
       <span class="date">{{ post.date }}</span>
     </p>
     <div class="content-wrap">
        <div class="content cover-thumbnail">
          <img src="{{site.baseurl}}/img/thumbnails/{{ post.cover-thumb}}"/>
        </div>
        <div class="content exerpt">
          {{ post.content | strip_html | truncatewords: 50 }}
        </div>
     </div>
   {% endfor %}
   {% if paginator.total_pages > 1 %}
   <div class="pagination">
     {% if paginator.previous_page %}
       <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
     {% else %}
       <span>&laquo; Prev</span>
     {% endif %}

     {% for page in (1..paginator.total_pages) %}
       {% if page == paginator.page %}
         <em>{{ page }}</em>
       {% elsif page == 1 %}
         <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
       {% else %}
         <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
       {% endif %}
     {% endfor %}

     {% if paginator.next_page %}
       <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
     {% else %}
       <span>Next &raquo;</span>
     {% endif %}
   </div>
   {% endif %}


</section>
