---
layout: blog-home
title: Blog
---
<section class="blog-index">
   <h1 class="section-header">Latest posts</h1>
   <div class="search-form-wrap cf">
      <form action="{{site.baseurl}}/search.html" method="get">
         <input placeholder="Search" type="text" id="search-box" name="query">
      </form>
   </div>
   <div class="articles-wrapper">
   {% for post in paginator.posts %}
      <article class="blog-post">
        <a href="{{site.baseurl}}/{{post.url}}">
           <div class="content-wrap cf">
              <div class="content cover-thumbnail" style="background-image: url({{site.baseurl}}/img/thumbnails/{{ post.cover-thumb}});"></div></a>
              <div class="content text">
                 <a href="{{site.baseurl}}/{{post.url}}"><h1>{{ post.title }}</h1></a>
                 <p class="blog-post-exerpt">
                    {{ post.content | strip_html | truncatewords: 100 }}
                 </p>
                 <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
                 <a class="read-post-cta" href="{{site.baseurl}}/{{post.url}}">Read post&rarr;</a>
              </div>
           </div>

    </article>
   {% endfor %}

   {% if paginator.total_pages > 1 %}
   <div class="pagination">

     {% if paginator.previous_page %}
       <a class="pagination-nav active" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
     {% else %}
       <span class="pagination-nav inactive">&laquo; Prev</span>
     {% endif %}

     {% for page in (1..paginator.total_pages) %}
       {% if page == paginator.page %}
         <em class="pagination-number inactive">{{ page }}</em>
       {% elsif page == 1 %}
         <a class="pagination-number active" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
       {% else %}
         <a class="pagination-number active" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
       {% endif %}
     {% endfor %}

     {% if paginator.next_page %}
       <a class="pagination-nav active" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
     {% else %}
       <span class="pagination-nav inactive">Next &raquo;</span>
     {% endif %}

   </div>
   {% endif %}
   </div>
</section>
