---
layout: default
---
<script type="text/javascript">
    var userFeed = new Instafeed({
        get: 'user',
        userId: '2536530725',
        accessToken: '2536530725.8dcd9d9.ef8e6bb79a1b44b293ae4ceedcd8d410',
        limit: 12
        //clientId: '	8dcd9d9d1f73466fb8fbe373845882c6'
    });
    userFeed.run();
</script>

<div class="blog-index">
   <header class="index-header">
      <nav>
         <div class="header-logo">Janne&Hainer</div>
         <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact</a></li>
         </ul>
      </nav>

      <div class="post-slider-wrapper">
         <span class="navigation prev">&#8249;</span>
         <span class="navigation next">&#8250;</span>
         <div class="post-slider">
            {% for post in site.posts | limit:3 %}
               <div class="slider-item" style="background-image: url({{site.baseurl}}/img/sm/{{post.cover-sm}});">
                  <span class="tag">Featured</span>
                  <p class="slider-item-title">{{post.title}}</p>
                  <a href="{{site.baseurl}}/{{post.url}}" class="post-cta">Read more</a>
               </div>
            {% endfor %}
         </div>
   </div>
   </header>
   <main>
      <section class="about">
         <h1 class="section-header">About</h1>
         <div class="about-text-wrapper">
            <p>Tattooed wayfarers waistcoat, wolf cray offal umami.</p>
            <p>Church-key kale chips umami trust fund. Brunch mustache, banjo readymade semiotics fap street art meh blue bottle artisan normcore before they sold out.</p>
            <p>Deep v raw denim trade, migas everyday helvetica readymade taxidermy aesthetic letterpress.</p><p> Bitters freegan hammock, gluten-free direct trade twee humblebrag. Bitters waistcoat humblebrag hammock single-origin coffee trust fund, meditation mustache gentrify synth literally blog.</p>
            <div class="social-icons">
               <a href="#"><object type="image/svg+xml" data="{{site.baseurl}}/img/icons/facebook.svg">
                  Your browser does not support SVG
               </object></a>
               <a href="#"><object type="image/svg+xml" data="{{site.baseurl}}/img/icons/instagram.svg">
                  Your browser does not support SVG
               </object></a>
               <a href="#"><object type="image/svg+xml" data="{{site.baseurl}}/img/icons/youtube.svg">
                  Your browser does not support SVG
               </object></a>
               <a href="#"><object type="image/svg+xml" data="{{site.baseurl}}/img/icons/pinterest.svg">
                  Your browser does not support SVG
               </object></a>
            </div>
         </div>
      </section>
      {{content}}
      <section class="instagram-feed">
         <h1 class="section-header">Instagram feed</h1>
         <div id="insta-wrap">
            <div id="instafeed"></div>
         </div>
      </section>
   </main>
</div>
<footer>

</footer>
