---
layout: default
---
<div class="post-wrap">
   <aside class="post-aside block">
      {% include post-aside.html %}
   </aside>
   <div class="post-block block">
      <header class="post-header" style="background-image: url({{site.baseurl}}/img/{{page.cover}});">
         <a href="#" class="post-aside-cta"> All Posts</a>
         <h1>{{page.title}}</h1>
         <div class="PageNavigation">
           {% if page.previous.url %}
             <a class="prev" href="{{site.baseurl}}{{page.previous.url}}">&laquo; OLDER</a>
           {% endif %}
           {% if page.next.url %}
             <a class="next" href="{{site.baseurl}}{{page.next.url}}">NEWER &raquo;</a>
           {% endif %}
         </div>
   </header>
   <main class="post-content">{{content}}</main>

</div>
